<html>
<head>
	<title>{{var.title.to!string}}</title>
</head>
<body>
	<h1> hello,{{var.name.to!string}} &nbsp; </h1>
	{% if (var.name.length > 5){ %}
		your name length is {{ var.name.length.to!string }}
	{% } %}
	<hr>
	<table>
	{% import std.array;  %}
	{% foreach(string[string] value; var.data) { %}
		<tr>
			<td>{{value["id"]}}</td>
			<td>{{value["name"]}}</td>
			<td>{{value["time"]}}</td>
			<td>{% if(value["status"] == "1") { %} {{value["status"]}}  {% } %}</td>
		</tr>
	{%  }  %}
	</table>
</body>
</html>
