<html>
<head>
	<title>{{ var.title }}</title>
</head>
<body>
	{{  render!"contentHeader.html" }}
	<h1> hello,{{var.name}} &nbsp; </h1>
	{% if (var.name.length > 5){ %}
		your name length is {{ var.name.length }}
	{% } %}
	<hr>
	{{ yield }}
	<table>
	{% import std.array;  %}
	{% foreach(string[string] value; var.data) { %}
		<tr>
			<td>{{value["id"]}}</td>
			<td>{{value["name"]}}</td>
			<td>{{value["time"]}}</td>
			<td>{% if(value["status"] == "1") { %} {{value["status"]}} {% } %}</td>
		</tr>
	{%  }  %}
	</table>
	{{  render!"contentFooter.html" }}
</body>
</html>
